
.background{
    background-image: url("background.jpg");
    z-index: 2;
}
.logo{ 
    width: 280px;
    padding-left: auto;
    padding-bottom: 0px;
}
.carousel-inner img {
    width: 100%;
    height: 70%;
}

ul.breadcrumb {
  list-style: none;


  margin-left: auto;
  padding-top: 10px;
  width: auto;
  height: 0px;
  background-image: url("background.jpg");
}

ul.breadcrumb li {
  display: inline;
  font-size: 12px;
}

ul.breadcrumb li+li:before {
  font-size: 12px;
  content: ">";
  background-color:#E4E3E3;
  height:55px;

}

ul.breadcrumb li a {
  color: #222931;
  text-decoration-color: black;
  background-color:#E4E3E3;
}

ul.breadcrumb li a:hover {
  color: white;
  text-decoration-color: black;
  background-color: #222931;
  opacity:none;
}

li{
    display: inline-block;
    color:black;
}

.title{ 
    padding-top: 20px;
    float: center;
    text-decoration: underline;
 }

 .blackbar{
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: auto;
    width: 100%;
    margin-left: auto;
    color:white;
}
.intro_tekst{
    height:55px;
    background-color:#222931;
    text-align:center;

}

.intro_tekst_photo{
    margin-left: auto;
    color:white;
}
 .carousel-inner {
    margin-left: auto;
    margin-top: 0px;
 }

 .container_slide {
    margin-left: auto;
    margin-bottom: 0px;
 }
 .introductie img {
    width: 280px;
    height: 215px;
    margin-left: auto;
    margin-top: 0px;
    margin-right: 100px;
    padding: 10px;
    border-radius: 60px;
    float: left;

}
.introductie h2{ 
    margin-top: 90px;
    margin-left: auto;
    text-decoration: underline;
    
 }
 .over_mij h2{ 
    margin-top: 90px;
    margin-left: auto;
    text-decoration: underline;
  }
 .tekst1{

    float:left;
    
 }
.tekst2{ 
    margin-left: auto;
    
 }

 .mijn_werk h2{
  margin-left: auto; 
  text-decoration: underline; 
 }

 .mijn_werk p{
    margin-left: auto;
    width: 100%; 
 }

 .mijn_skills h2{
  margin-left: auto; 
  text-decoration: underline; 
 }

 .mijn_skills p{
    margin-left: auto;
    width: 100%; 
 }

 footer{
    width: 100%;
    margin-top: 50px;
    margin-left: auto;
    height: 25px;
    background-color: #222931; 
    color: white;
    padding-bottom: 20px;
}
footer>p{
    text-align: center;
    margin-right: auto;
    margin-left:auto;
    margin-top: 25px;
}

.photo_container {
    width: 100%;
}

.photo_container img{ 
  width:100%;
  
 }

span#Over_mij-button {
    margin-top: 40px;
    font-size-top: 12px;
    background-color: #222931 ;
    margin-left: auto;
    padding: 15px;
    color: white;
    
}

span#Over_mij-button:hover {
    background-color: #222931;
    color: white;
    transition: .5s;
} 
.wellantcollege{
    margin-bottom: 200px;
}
.wellantcollege img {
    border: 1px solid #ddd;
    border-radius: 6px;
    border-color: black;
    width: 280px;
    height: 275px;
    margin-left: auto;
    margin-top: 0px;
    margin-right: auto;
    padding: 10px;
    border-radius: 60px;
    float: left;

}
.wellantcollege h2{ 
    margin-top: 90px;
    margin-left: 20px;
    text-decoration: underline;
    
}
.wellant1 {

    width: 100%;
}

.davinci{
    margin-bottom:200px;
}
 .davinci img {
    border: 1px solid #ddd;
    border-radius: 6px;
    border-color: black;
    border-style: ridge;
    width: 280px;
    height: 275px;
    margin-left: auto;
    margin-top: 0px;
    margin-right: auto;
    padding: 10px;
    border-radius: 60px;
    float: left;


}
.davinci h2{ 
    margin-top: 90px;
    margin-left: 20px;
    text-decoration: underline;
    
 }
 .davinci1 {

    width: 100%;
 }

 input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}


input[type=submit] {
  background-color:#222931 ;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #E4E3E3;
}

.contact-formulier {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 100%;
  margin-left: auto;
  margin-top: 50px;
}
.photo_container{ 
margin-top: 50px;
 }
.photo_container img { 
    width: 100%;
    height: auto;
    position: center;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
}
.over_mij p { 
width: 100%;
margin-left: auto;
margin-top: 10px;
 }
.over_mij h2 { 
width: 100%;
margin-left: auto;
margin-top: 50px;
 }

@media screen and (min-width: 64em) {

.navbar{
  width: 1000px;
  margin-left: 270px;
  margin-bottom: 0px;
} 

.navbar p { 
color: black;
 }

 .background{
    background-image: url("background.jpg");
    z-index: 2;
}
.logo{ 
    padding-left: 270px;
    padding-bottom: 0px;
}
.carousel-inner img {
    width: 1000px;
    height: 70%;
}

ul.breadcrumb {
  list-style: none;
  margin-left: 270px;
  padding-top: 10px;
  width: 242px;
  height: 0px;
  background-image: url("background.jpg");
}

ul.breadcrumb li {
  display: inline;
  font-size: 12px;
}

ul.breadcrumb li+li:before {
  font-size: 12px;
  content: ">";
  background-color:#E4E3E3;
  height:55px;

}

ul.breadcrumb li a {
  color: #222931;
  text-decoration-color: black;
  background-color:#E4E3E3;
}

ul.breadcrumb li a:hover {
  color: white;
  text-decoration-color: black;
  background-color: #222931;
  opacity:none;
}




.title{ 
    padding-top: 20px;
    margin-left: 650px;
    text-decoration: underline;
 }

 .blackbar{
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 270px;
    width: 1000px;
    height:55px;
    background-color:#222931;
}
.intro_tekst{
    margin-left: 30px;
    color:white;
}
.intro_tekst_photo{
    margin-left: 370px;
    color:white;
}
 .carousel-inner {
    margin-left: 17px;
    margin-top: 52px;
 }

 .container_slide {
    margin-left: 253px;
    margin-bottom: 0px;
 }
 .introductie img {
    width: 400px;
    height: 275px;
    margin-left: 263px;
    margin-top: 0px;
    margin-right: 100px;
    padding: 10px;
    border-radius: 60px;
    float: left;

}
.introductie h2{ 
    margin-top: 90px;
    margin-left: 900px;
    text-decoration: underline;
    
 }
 .tekst1{

    float:left;
    
 }
.tekst2{ 
    margin-left: 1000px;
    
 }

 .mijn_werk h2{
  margin-left: 270px; 
  text-decoration: underline; 
 }

 .mijn_werk p{
    margin-left: 270px;
    width: 1000px; 
 }

 .mijn_skills h2{
  margin-left: 270px; 
  text-decoration: underline; 
 }

 .mijn_skills p{
    margin-left: 270px;
    width: 1000px; 
 }

 footer{
    width: 1000px;
    margin-top: 50px;
    margin-left: 270px;
    height: 55px;
    background-color: #222931; 
    color: white;
    padding-bottom: 20px;
}
footer>p{
    float: left;
    margin-right: 200px;
    margin-left:100px;
    margin-top: 25px;
}

.photo_container {
    width: 1000px;
    margin-left: 250px;
}

.photo_container img{ 
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
 }

span#Over_mij-button {
    margin-top: 40px;
    font-size-top: 12px;
    background-color: #222931 ;
    margin-left: 0px;
    padding: 15px;
    font-weight: 600;
    color: white;
    
}

span#Over_mij-button:hover {
    background-color: #222931;
    color: white;
    transition: .5s;
} 
.wellantcollege{
    margin-bottom: 200px;
}
.wellantcollege img {
    border: 1px solid #ddd;
    border-radius: 6px;
    border-color: black;
    width: 400px;
    height: 275px;
    margin-left: 263px;
    margin-top: 0px;
    margin-right: 100px;
    padding: 10px;
    border-radius: 60px;
    float: left;

}
.wellantcollege h2{ 
    margin-top: 90px;
    margin-left: 80px;
    text-decoration: underline;
    
}
.wellant1 {

    width: 1270px;
}

.davinci{
    margin-bottom:200px;
}
 .davinci img {
    border: 1px solid #ddd;
    border-radius: 6px;
    border-color: black;
    border-style: ridge;
    width: 400px;
    height: 275px;
    margin-left: 263px;
    margin-top: 0px;
    margin-right: 100px;
    padding: 10px;
    border-radius: 60px;
    float: left;


}
.davinci h2{ 
    margin-top: 90px;
    margin-left: 80px;
    text-decoration: underline;
    
 }
 .davinci1 {

    width: 1270px;
 }

 .photo_container img { 
    width: 800px;
    height: 400px;
    position: center;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 120px;
  }

.over_mij p { 
  width: 1000px;
  margin-left: 270px;
  margin-top: 10px;
 }
.over_mij h2 { 
  width: 1000px;
  margin-left: 270px;
  margin-top: 50px;
 }
 .contact-formulier{
  width: 1000px;
  margin-left: 270px;
 }